<%- include ./partials/header %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Let's play!</h1>
  </div>
</div>

<div class="container">
  <div>
    <div class="row">

      <%# Check get the collection progression. For now its introToJavaScript but it will come from the server later. %>
      <% let currentCollection = "introToJavaScript"; %>
      <% let currentProgress = user.progress[currentCollection]; %>
      <% console.log("currentProgress: ", currentProgress) %>
      <%# console.log(user); %>


      <% exercices.forEach((exercice) => { %>
        <div class="col-lg-4">
          <% if((currentProgress == undefined && exercice.order == 0) || currentProgress == exercice.order) { %>
            <a href="/exercices/<%= exercice._id %>">
              <div class="card text-white bg-primary mb-3">

                <div class="card-header">Exercice <%= exercice.order %></div>
                <div class="card-body">
                  <h5 class="card-title"><%= exercice.question %></h5>
                </div>
              </div>
            </a>
          <% } else if(currentProgress >  exercice.order) { %>
            <a href="/exercices/<%= exercice._id %>">
              <div class="card text-white bg-success mb-3">

                <div class="card-header">Exercice <%= exercice.order %></div>
                <div class="card-body">
                  <h5 class="card-title"><%= exercice.question %></h5>
                </div>
              </div>
            </a>
          <% } else {%>
            <a class="isDisabled">
              <div class="card text-white bg-primary mb-3">

                <div class="card-header">Exercice <%= exercice.order %></div>
                <div class="card-body">
                  <h5 class="card-title">BLOCKED</h5>
                </div>
              </div>
            </a>
          <% }; %>
        </div>
      <% }); %>
      </div>
    </div>
  </div>
</div>

<%- include ./partials/footer %>
